<!DOCTYPE html>
<html>
<head>
    <title>Můj Blog</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="login.html">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Blog</h1>
            <a class="btn" href="index.html">Home</a>
            <a class="btn" href="login.html">Log In</a>
            <a class="btn" href="signup.html">Sign Up</a>
        </div>
    </header>

    <div class="container">
        <h2>Sign Up</h2>
        <form id="signup-form">
            <label for="username">Uživatelské jméno:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Heslo:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Registrovat</button>
        </form>
    </div>








    <script src="./static/script.js"></script>
</body>
</html>
</html>